<div>
    <div ng-if="!queryComplete">
        <h1 class="loading-inline-spinner loading-left loading">Loading Data Layer Privileges <small>Please wait...</small></h1>
    </div>
    <div>
        <a href="" ng-click="viewAddPanel()" ng-hide="privToAdd"><i class="glyphicon glyphicon-plus"></i> Create New Map Layer Privilege</a>
        <div class="form-horizontal" ng-show="privToAdd">
            <div class="form-group">
                <label for="privNameInput" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-6">
                    <input class="form-control" id="privNameInput" type="text" ng-model="privToAdd.name" placeholder="Enter a new privilege name" autocomplete="off" />
                </div>
            </div>
            <div class="form-group">
                <label for="privDescInput" class="col-sm-3 control-label">Description</label>
                <div class="col-sm-6">
                    <input class="form-control" id="privDescInput" type="text" ng-model="privToAdd.description" placeholder="Enter a new privilege description" autocomplete="off" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="privDataSouceInput">Data Source (URL)</label>
                <div class="col-sm-6">
                    <input class="form-control" id="privDataSouceInput" type="text" ng-model="privToAdd.dataSource" placeholder="Enter the new privilege's layer data source URL" autocomplete="off" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="privViewableLayersInput">Viewable Layers</label>
                <div class="col-sm-6">
                    <input class="form-control" id="privViewableLayersInput" type="text" ng-model="privToAddViewableLayersDelimited" placeholder="Enter the new privilege's viewable layers (comma separated)" autocomplete="off" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="privEditableLayersInput">Editable Layers</label>
                <div class="col-sm-6">
                    <input class="form-control" id="privEditableLayersInput" type="text" ng-model="privToAddEditableLayersDelimited" placeholder="Enter the new privilege's editable layers (comma separated)" autocomplete="off" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button class=btn btn-default ng-click="privToAdd=null">
                        <i class="glyphicon glyphicon-remove"></i> Cancel
                    </button>
                    <button class="btn btn-primary" type="button" ng-class="{'btn-primary': privToAdd.name && privToAdd.description, disabled: !privToAdd.name && !privToAdd.description}"
                            ng-disabled="!privToAdd" ng-click="confirmAddPrivilege()">
                        <i class="glyphicon glyphicon-ok"></i> Add
                    </button>
                </div>
            </div>
        </div>
    </div>
    <table ng-show="dataLayerPrivileges.length" class="table table-bordered table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th class="col-sm-8">Data Layer Privilege</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="privilege in dataLayerPrivileges | orderBy: 'name'">
            <td ng-class="col-sm-8" title="{{privilege.description}}">
                <span ng-hide="privilege.edit || privilege.view">{{privilege.name}}</span>

                <div class="form-horizontal" ng-if="privilege.edit || privilege.view">
                    <div class="form-group">
                        <label for="editPrivilegeName" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" id="editPrivilegeName" class="form-control" ng-model="privilege.name" ng-disabled="privilege.view" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editPrivilegeDesc" class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" id="editPrivilegeDesc" class="form-control" ng-model="privilege.description" ng-disabled="privilege.view" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editPrivilegeDataSource" class="col-sm-3 control-label">Data Source</label>
                        <div class="col-sm-9">
                            <input type="text" id="editPrivilegeDataSource" class="form-control" ng-model="privilege.dataSource" ng-disabled="privilege.view" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editPrivilegeViewableLayers" class="col-sm-3 control-label">Viewable Layers</label>
                        <div class="col-sm-9">
                            <input type="text" id="editPrivilegeViewableLayers" class="form-control" ng-model="privilege.viewableLayersDelimited" ng-disabled="privilege.view" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editPrivilegeEditableLayers" class="col-sm-3 control-label">Editable Layers</label>
                        <div class="col-sm-9">
                            <input type="text" id="editPrivilegeEditableLayers" class="form-control" ng-model="privilege.editableLayersDelimited" ng-disabled="privilege.view" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </td>
            <td ng-hide="privilege.edit || privilege.view">
                <a href="" ng-click="viewPrivilegeDetail(privilege)"><i class="glyphicon glyphicon-eye-open" title="View Privilege Detail"></i> Show Detail</a>
                &nbsp;
                <a href="" ng-click="editDataLayerPrivilege(privilege)"><i class="glyphicon glyphicon-pencil" title="Edit Privilege"></i> Edit</a>
                &nbsp;
                <a href="" ng-click="confirmDeletePrivilege(privilege)"><i class="glyphicon glyphicon-trash" title="Delete Privilege"></i> Delete</a>
            </td>
            <td ng-show="privilege.view">
                <a href="" ng-click="privilege.view=false"><i class="glyphicon glyphicon-eye-close" title="Close Privilege Detail"></i> Hide Detail</a>
            </td>
            <td ng-show="privilege.edit">
                <a href="" ng-click="editPrivilegeComplete(privilege)"><i class="glyphicon glyphicon-ok-circle" title="Save Edits"></i> Save Edits</a>
                &nbsp;
                <a href="" ng-click="editPrivilegeCancel(privilege)"><i class="glyphicon glyphicon-remove-circle" title="Cancel Edit"></i> Cancel Edits</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>