<div>
  <div ng-if="!roles.$resolved">
    <h1 class="loading-inline-spinner loading-left loading">Loading Roles
      <small>Please wait...</small>
    </h1>
  </div>
  <div>
    <a href="" ng-click="selection.roleToAdd={}" ng-hide="selection.roleToAdd">
      <i class="glyphicon glyphicon-plus"></i> Create New Role
    </a>

    <form class="form-horizontal" ng-if="selection.roleToAdd">
      <div class="form-group"><label for="roleNameInput" class="col-sm-3 control-label">Role Name</label>

        <div class="col-sm-6">
          <input class="form-control" id="roleNameInput" type="text"
                 ng-model="selection.roleToAdd.name" placeholder="Enter a new role name"/>
        </div>
      </div>
      <div class="form-group">
        <label for="roleDescInput" class="col-sm-3 control-label">Role Description</label>

        <div class="col-sm-6">
          <input class="form-control" id="roleDescInput" type="text"
                 ng-model="selection.roleToAdd.description"
                 placeholder="Enter a new role description"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Copy privileges from</label>

        <div class="col-sm-6">
          <role-finder class="form-control" role="selection.copyRole"></role-finder>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button class="btn btn-default" ng-click="selection.roleToAdd=null"><i class="glyphicon glyphicon-remove"></i>
            Cancel
          </button>
          <button class="btn btn-primary" type="button"
                  ng-class="{'btn-primary': selection.roleToAdd.name && selection.roleToAdd.description, disabled: !selection.roleToAdd.name || !selection.roleToAdd.description}"
                  ng-disabled="!selection.roleToAdd" ng-click="confirmAddRole()"><i class="glyphicon glyphicon-ok"></i>
            Add
          </button>
        </div>
      </div>
    </form>
  </div>
  <table class="table table-striped table-condensed table-hover">
    <thead>
    <tr>
      <th>Role</th>
      <th>Description</th>
      <th>&nbsp;&nbsp;Actions&nbsp;&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="role in roles">
      <td>
        <strong ng-if="!role.edit">{{role.name}}</strong>
        <input ng-if="role.edit" type="text" class="form-control" ng-model="role.name"/>
      </td>
      <td>
        <span ng-if="!role.edit">{{role.description}}</span>
        <input ng-if="role.edit" type="text" class="form-control" ng-model="role.description"/>
      </td>
      <td ng-show="!role.edit">
        <a href="" ng-click="editRole(role)">
          <i class="glyphicon glyphicon-pencil" title="Edit Role"></i> Edit
        </a>
        <br/>
        <a href="" ng-click="confirmDeleteRole(role)">
          <i class="glyphicon glyphicon-trash" title="Delete Role"></i> Delete
        </a>
      </td>
      <td ng-if="role.edit">
        <a href="" ng-click="editRoleComplete(role)">
          <i class="glyphicon glyphicon-ok-circle" title="Save Edits"></i> Save
        </a>
        <br/>
        <a href="" ng-click="editRoleCancel(role)">
          <i class="glyphicon glyphicon-remove-circle" title="Cancel Edit"></i> Cancel
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
