 <div>
  <form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-1 control-label">Role:</label>
        <div class="col-sm-11">
            
            <role-finder role="role"></role-finder>
        </div>
    </div>
  </form>
    <table class="table table-striped" ng-show="privsSet">
        <thead>
        <tr>
            <th></th>
            <th>Privilege</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="priv in allPrivileges" class="clicky" ng-class="{warning:priv.assigned}" ng-click="priv.assigned=!priv.assigned;checkIsDirty(priv)">
            <td>
                <i class="glyphicon" ng-class="{'glyphicon-check':priv.assigned, 'glyphicon-unchecked':!priv.assigned}"></i>
            </td>
            <td>
                <strong>{{priv.name | pretty}}</strong>
            </td>
            <td>
                {{priv.description}}
            </td>
        </tr>
        </tbody>
    </table>
</div>