<select ng-model="role" placeholder="Select a Role" ng-options="role.name for role in roles | orderBy:'name'"
        class="form-control input-med loading-inline-spinner loading-dark loading-left"
        ng-class="{loading: !roles.$resolved}">
    <option value="">-- Select a Role --</option>
</select>