<div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-1 control-label">User:</label>
      <div class="col-sm-5">
        <user-finder user="user"></user-finder>
      </div>
      <div class="col-sm-6">
        <h4>
          {{user.firstName}} {{user.lastName}} <small>{{user.userName}}</small>
        </h4>
      </div>
    </div>
  </form>

  <div ng-if="newUsers.length && !user.id">
    <h3>
      <a href="" ng-click="queryNewUsers()">
        <i class="glyphicon glyphicon-refresh"></i>
      </a>
      Users Not Assigned to a Role ({{newUsers.length}}):
    </h3>

    <span class="cushy-right" ng-repeat="newUser in newUsers">
      <a href="" ng-click="setUser(newUser)" class="label label-primary">
        <i class="glyphicon glyphicon-pencil"></i>
        {{newUser.firstName ? newUser.firstName + newUser.lastName : newUser.userName}}
      </a>
    </span>
  </div>

  <table class="table table-striped" ng-show="user.id">
    <thead>
    <tr>
      <th></th>
      <th>Role</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="role in allRoles" class="clicky" ng-class="{warning:role.assigned}"
        ng-click="role.assigned=!role.assigned;checkIsDirty(role)">
      <td>
        <i class="glyphicon" ng-class="{'glyphicon-check':role.assigned, 'glyphicon-unchecked':!role.assigned}"></i>
      </td>
      <td>
        <strong>{{role.name}}</strong>
      </td>
      <td>
        {{role.description}}
      </td>
    </tr>
    </tbody>
  </table>
</div>