<form name="form" role="form">

    <div ng-if="!security.$resolved">
        <h1 class="loading-inline-spinner loading-left loading">Loading Security Profiles <small>Please wait...</small></h1>
    </div>

    <div ng-if="security.$resolved && !security.profiles.length">
        <h1><i class="glyphicon glyphicon-ban-circle"></i> No Security Profiles Available</h1>
    </div>

    <table class="table table-hover table-striped" ng-if="security.profiles.length">
        <tbody>
        <tr class="clicky" ng-click="security.activeProfileId=profile.id" ng-repeat="profile in security.profiles">
            <td>
                <i class="glyphicon" ng-class="{'glyphicon-unchecked':security.activeProfileId!=profile.id, 'glyphicon-check':security.activeProfileId==profile.id}"></i>
            </td>
            <td>
                <strong>{{profile.name}}</strong>
            </td>
            <td>{{profile.description}}</td>
        </tr>
        </tbody>
    </table>

    <p><strong>{{(active=activeProfile()).name}}</strong> {{active.info}}</p>
</form>